<form class="form" action="{{ base_url }}/loginPost" method="post" autocomplete="off">
    <h1>Ielogoties lapā</h1>
    <div class="form-group">
        <div id="exs-oauth"></div>
        <input type="hidden" name="result" id="result">
    </div>
</form>
<script>
    new ExsOAuth((result) => {
        $('#result').val(JSON.stringify(result));
        $('#result').closest('form').submit();
    }, {
        buttonClass: 'btn'
    });
</script>
