<html>
<body>
    <div style="width:90%; max-width:480px; margin:50px auto;">
        <h1 style="font-size:24px; font-family:sans-serif; border-bottom:2px solid #ddd; padding-bottom:10px;">Sveiks!</h1>
        <p style="font-size:18px; font-family:sans-serif;">Šonedēļ tika pievienota(s) <b style="font-size: 24px;">{{PEARL_COUNT}}</b> Exs.lv pērle(s)!</p>
        <p style="font-size:18px; font-family:sans-serif;">Apskati tās šeit: <a href="{{BASE_URL}}" target="_blank" style="color:crimson; text-decoration:none; font-weight:bold;">{{BASE_URL}}</a></p>
        <p style="font-size:14px; font-family:sans-serif; border-top:2px solid #ddd; padding-top:10px;">Spied <a href="{{BASE_URL}}/unsubscribe/?email={{RECIPIENT_EMAIL}}" target="_blank" style="color:crimson; text-decoration:none; font-weight:bold;">šeit</a>, lai atteiktos no šiem e-pastiem.</p>
    </div>
</body>
</html>
