<html>
<body>
    <div style="width:90%; max-width:480px; margin:50px auto;">
        <h1 style="font-size:24px; font-family:sans-serif; border-bottom:2px solid #ddd; padding-bottom:10px;">Jauna pērle apstiprināšanai!</h1>
        <p style="font-size:18px; font-family:sans-serif;">{{DESCRIPTION}}</p>
        <p style="font-size:18px; font-family:sans-serif;"><img style="max-width: 480px;" src="{{IMAGE}}" alt="Attēls"></p>
        <p style="font-size:18px; font-family:sans-serif;">Apskatīt visas iesūtītās pērles: <a href="{{BASE_URL}}" target="_blank" style="color:crimson; text-decoration:none; font-weight:bold;">{{BASE_URL}}</a></p>
    </div>
</body>
</html>
