<html>
<body>
    <div style="width:90%; max-width:480px; margin:50px auto;">
        <h1 style="font-size:24px; font-family:sans-serif; border-bottom:2px solid #ddd; padding-bottom:10px;">Test E-Mail</h1>
        <p style="font-size:18px; font-family:sans-serif;">Current time is: {{TIME}}</p>
    </div>
</body>
</html>
