<html>
<body>
    <div style="width:90%; max-width:480px; margin:50px auto;">
        <h1 style="font-size:24px; font-family:sans-serif; border-bottom:2px solid #ddd; padding-bottom:10px;">Sveiks!</h1>
        <p style="font-size:18px; font-family:sans-serif;">Tu esi pierakstījies Exs.lv pērļu jaunumiem. Tu iegūsi e-pastu ar jaunu pērļu skaitu katru nedēļu.</p>
        <p style="font-size:18px; font-family:sans-serif;">E-pasts netiks sūtīts, ja nedēļā nav bijušu jaunu pērļu.</p>
        <p style="font-size:18px; font-family:sans-serif;">Apskati visas pērles šeit: <a href="{{BASE_URL}}/wall" target="_blank" style="color:crimson; text-decoration:none; font-weight:bold;">{{BASE_URL}}/wall</a></p>
        <p style="font-size:14px; font-family:sans-serif; border-top:2px solid #ddd; padding-top:10px;">Spied <a href="{{BASE_URL}}/unsubscribe/?email={{RECIPIENT_EMAIL}}" target="_blank" style="color:crimson; text-decoration:none; font-weight:bold;">šeit</a>, lai atteiktos no šiem e-pastiem.</p>
    </div>
</body>
</html>
