{% if messages %}
    {% for message in messages %}
        {% set timeAgo = helper.dateFormat(message.created) %}
        <div class="message{% if message.admin %} message-admin{% endif %}">
            {% if session.get('admin') %}
                <a href="javascript:void(0)" class="chat-block-ip" data-ip="{{ message.ip }}">&times;</a>
            {% endif %}
            <span class="name color-{{ message.colorBrightness }}"
                  title="{{ timeAgo }}" style="color: {{ message.color }};">
                {{ message.name }}
            </span>
            <span class="message-content">
                {{ message.content | raw }}
            </span>
        </div>
    {% endfor %}
{% else %}
    Nav ziņu.
{% endif %}

