{% if post %}
    {% set timestamp = post.created | date('U') %}
    {% set olderTimestamp = olderPost ? olderPost.created | date('U') : null %}

    <div class="pager">
        {% if newerPost %}
            <a href="{{ base_url }}/{{ newerPost.created | date('U') }}">&laquo; Jaunāka</a>
        {% else %}
            <span>&nbsp;</span>
        {% endif %}

        {% if olderPost %}
            <a href="{{ base_url }}/{{ olderPost.created | date('U') }}">Vecāka &raquo;</a>
        {% endif %}
    </div>

    <div class="pearl">
        <div class="details text-to-emoji">
            {{ post.description ? post.description | raw : 'Bez apraksta' }}
        </div>
        {% if post.user %}
            <div style="display: flex; justify-content: center; align-items: center; margin-top: 5px;">
                Iesūtīja: <img src="{{ base_url}}/assets/images/avatars/{{ post.user.avatar }}" style="border-radius: 50%; width: 24px; margin: 0 5px;" alt> {{ post.user.nick }}
            </div>
        {% endif %}
        <div class="image">
            {% if post.type == 'video' %}
                <div class="videoWrapper">
                    <iframe width="560" height="349" src="{{ post.url }}" frameborder="0"></iframe>
                </div>
            {% else %}
                <a href="{{ post.url }}" target="_blank">
                    <img src="{{ helper.getProtocolRelativeUrl(post.url, true) }}" alt>
                </a>
            {% endif %}
        </div>

        {% if session.get('admin') %}
            <form class="form" action="{{ base_url }}/update" method="post" autocomplete="off">
                <input type="hidden" name="ref" value="{{ base_url }}/{{ timestamp }}">
                <input type="hidden" name="id" value="{{ post.id }}">
                <div class="form-group">
                    <label for="image" class="form-label">Bildes URL</label>
                    <input id="image" type="url" class="form-input" name="image" value="{{ post.url }}" required>
                </div>
                <div class="form-group">
                    <label for="description" class="form-label">Details</label>
                    <textarea id="description" class="form-input" name="description" placeholder="Bez apraksta">{{ post.descriptionRaw }}</textarea>
                </div>
                <div class="form-group">
                    <label for="nicks" class="form-label">Niki</label>
                    <input id="nicks" type="text" class="form-input" name="nicks" placeholder="Atdalīti ar komatiem" value="{{ post.nicks }}">
                </div>
                <div class="form-content">
                    <button type="submit" class="btn">Save</button>
                    <button type="button" class="btn btn-danger" id="delete">Dzēst</button>
                    <script>
                        $('#delete').on('click', function() {
                            if (confirm('Tiešām dzēst?')) {
                                window.location = '{{ base_url }}/delete/{{ post.id }}?ref={{ olderTimestamp ? base_url ~ '/' ~ olderTimestamp : '' }}';
                            }
                        });
                    </script>
                </div>
            </form>
        {% endif %}
    </div>
{% else %}
    <p>Netika atrasta neviena pērle.</p>
    <p>Iesniedz savu bildi <a href="{{ base_url }}/send">šeit</a>.</p>
{% endif %}

{# Preload Next/Prev images #}
<script>
    {% if newerPost and olderPost.type == 'image' %}
        (new Image).src = '{{ newerPost.url }}';
    {% endif %}
    {% if olderPost and olderPost.type == 'image' %}
        (new Image).src = '{{ olderPost.url }}';
    {% endif %}
</script>
