<form class="form" action="{{ base_url }}/emails/subscribe" method="post" autocomplete="off">
    <div class="form-content">
        <h1>Jaunu pērļu paziņojumi</h1>
        <p>Pieraksties iknedēļas e-pasta paziņojumiem par jaunām pērlēm.</p>
        <p>E-pasti netiks sūtīti, ja dotajā nedēļā nav jaunu pērļu.</p>
    </div>
    <div class="form-group">
        <label for="email" class="form-label">E-pasts</label>
        {% if subscriber %}
            <input type="email" id="email" class="form-input disabled" placeholder="info@exs.lv" value="{{ subscriber.email }}" disabled>
        {% else %}
            <input type="email" id="email" class="form-input" name="email" placeholder="info@exs.lv" required autofocus>
        {% endif %}
    </div>
    <div class="form-content">
        {% if subscriber %}
            <button type="button" onclick="window.location = '{{ base_url }}/unsubscribe?email={{ subscriber.email }}';" class="btn btn-danger">Atteikties</button>
        {% else %}
            <button type="submit" class="btn">Pierakstīties</button>
        {% endif %}
    </div>
</form>

{% if session.get('admin') %}
    <hr>

    <p>Šonedēļ pievienoto pērļu skaits: <b>{{ postCountThisWeek }}</b></p>

    {% if emailsCollection.count() %}
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>E-pasts</th>
                    <th>Darbība</th>
                </tr>
            </thead>
            <tbody>
                {% for subscriber in emailsCollection.get() %}
                    <tr>
                        <td>{{ subscriber.id }}</td>
                        <td>{{ subscriber.email }}</td>
                        <td>
                            <div class="btn-group">
                                <a href="{{ base_url }}/unsubscribe?email={{ subscriber.email }}" onclick="return confirm('Vai esi pārliecināts?')">Dzēst</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Nav e-pastu.</p>
    {% endif %}
{% endif %}
