<div class="container text-center">
    <h1>Lapa nav atrasta</h1>

    <video style="width: 360px; margin-left: auto; margin-right: auto;" class="embed-responsive-item" src="{{ base_url }}/assets/images/not-found.webm" autoplay></video>
    <br>

    <a href="{{ base_url }}" class="btn btn-default">&laquo; Atpakaļ uz sākumu</a>
    <a href="{{ base_url }}/send" class="btn btn-primary">Iesūti savu pērli</a>
</div>
