<form class="form" action="{{ base_url }}/wall" method="get">
    <div class="form-group form-group-flip">
        <input type="text" name="nick" class="form-input" placeholder="Meklēt pēc lietotāja nika" value="{{ request.get.nick is defined ? request.get.nick : '' }}">
        <div class="form-label"><button class="btn">Meklēt</button></div>
    </div>
</form>

{% if posts | length > 0 %}
    {% set counter = posts | length %}
    <div id="pearl-wall">
        {% for post in posts %}
            {% set timestamp = post.created | date('U') %}
            <div class="wall-item pearl wall-item-{{ loop.index }}">
                <div class="details text-to-emoji">
                    <b>Pērle nr. {{ counter }}</b> <small class="text-muted">{{ post.created | date('d.m.Y') }}</small>
                </div>
                {% if post.user %}
                    <div style="display: flex; justify-content: center; align-items: center; margin-top: 5px;">
                        Iesūtīja: <img src="{{ base_url}}/assets/images/avatars/{{ post.user.avatar }}" style="border-radius: 50%; width: 24px; margin: 0 5px;" alt> {{ post.user.nick }}
                    </div>
                {% endif %}
                <div class="image">
                    <a href="{{ timestamp }}" target="_blank">
                        {% if post.type == 'video' %}
                            <img src="https://img.youtube.com/vi/{{ post.videoIdentifier }}/maxresdefault.jpg" alt="#{{ counter }}">
                        {% else %}
                            <img src="{{ base_url }}/assets/images/128pixel.png" data-src="{{ post.url }}" alt="#{{ counter }}">
                        {% endif %}
                    </a>
                </div>
            </div>
            {% set counter = counter - 1 %}
        {% endfor %}
    </div>
    <div id="show-more" style="display: flex; justify-content: center; margin: 20px;">
        <a class="btn" href="javascript:void(0)">Rādīt vairāk</a>
    </div>

    <script>
        const hiddenChunkSize = 20;
        let hiddenCount = hiddenChunkSize;

        const hideItems = () => $(`.wall-item:gt(${hiddenCount - 1})`).hide();
        const showItems = () => {
            $(`.wall-item:lt(${hiddenCount}) img`).each((i, e) => {
                const src = $(e).attr('data-src');
                $(e).attr('src', src);
                $(e).closest('.wall-item').show();
            });
        };

        // Hide initial
        hideItems();
        // Show initial
        showItems();

        $(document).on('click', '#show-more', () => {
            hiddenCount += hiddenChunkSize;
            showItems();
        });
    </script>
{% else %}
    <p>Netika atrasta neviena pērle.</p>
    <p>Iesniedz savu bildi <a href="{{ base_url }}/send">šeit</a>.</p>
{% endif %}
