#chat {
    position: fixed;
    top: 100%;
    left: 200px;
    right: 0;
    font-size: 14px;

    .input {
        width: 100%;
        margin: 5px 0;
        padding: 5px;
        border: none;
        outline: none;
        background: #333;
        color: #fff;

        &[name="name"] {
            font-size: 12px;
        }
    }

    .btn {
        padding: 5px 5%;
        margin-left: 10px;
    }

    textarea.input {
        height: 60px;
        resize: none;
    }

    .chat-header {
        position: absolute;
        bottom: 100%;
        width: 100px;
        text-align: center;
        padding: 5px;
        background: #333;
        color: #888;
        cursor: pointer;
        user-select: none;
    }

    .chat-content {
        padding: 10px;
        background: #222;
        color: #eee;

        .messages {
            padding-bottom: 10px;
            max-height: 400px;
            overflow: auto;
        }

        .message {
            padding: 4px 0;
            position: relative;

            .name {
                display: inline-block;
                color: #fff;
                font-weight: bold;
                cursor: help;
                padding: 2px 0;
            }

            .name.color-dark {
                filter: brightness(300%);
            }

            &.message-admin .name {
                padding: 2px 4px;
                color: #fff !important;
                background: crimson;
            }
        }
    }
}

// Tablet
@media only screen and (max-width: 1023px) {
    #chat {
        left: 100px;
    }
}

// Mobile
@media only screen and (max-width: 767px) {
    #chat {
        left: 0;
    }
}
