@import url('https://fonts.googleapis.com/css?family=Open+Sans&subset=latin-ext');

* {
    box-sizing: border-box;
}

body {
    font-family: 'open sans', sans-serif;
    font-size: 16px;
    background: #f6f6f6;
}

.hide {
    display: none;
}

a {
    color: cornflowerblue;
    text-decoration: none;
}

img {
    max-width: 100%;
}

p {
    margin: 10px 0;
}

hr {
    border: none;
    height: 2px;
    background: #ddd;
    margin: 20px 0;
}

.flex {
    display: flex;
}

.alert {
    padding: 10px;
    padding-right: 20px;
    margin-bottom: 10px;
    color: cornflowerblue;
    background: #eee;
    border: 1px solid cornflowerblue;
    text-align: center;
    position: relative;

    > .close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
    }
}

.body-home-wall {
    color: #ddd;
    background: #111;

    .main .content {
        max-width: none;
    }

    #pearl-wall {
        display: flex;
        flex-wrap: wrap;

        .wall-item {
            width: calc(50% - 20px);
            margin: 0 10px 40px;
        }
    }
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    background: #222;

    .menu {
        overflow: auto;
    }

    .brand > a,
    .menu > a {
        color: #bbb;
        display: block;
        text-align: right;
        transition: 100ms ease-in-out;
    }

    .brand > a {
        text-align: center;
        font-weight: bold;
        color: #fff;
        text-shadow: 0 1px 2px #000;
        font-size: 20px;
        letter-spacing: 1px;
        padding: 20px 10px;
    }

    .menu > a {
        padding: 10px 20px;

        &:hover {
            background: #111;
            color: #ddd;
        }

        &.active {
            background: #111;
            color: #ddd;
            font-weight: bold;
        }
    }

    .sidebar-footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        cursor: default;
        padding: 20px;
        font-size: 14px;
        color: #111;
        text-align: center;
        user-select: none;
    }
}

.main {
    // Margin has to change depending on sidebar width on all viewports
    margin-left: 200px;

    .content {
        margin: 40px auto;
        padding: 0 40px;
        max-width: 1024px;
    }
}

.pager {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    a {
        display: inline-block;
        white-space: nowrap;
        padding: 10px;
    }
}

.pearl {
    .details {
        text-align: center;
    }

    .image {
        background: #fff;
        text-align: center;
        border: 1px solid #ddd;
        margin: 20px 0;

        img {
            padding: 5px;
            display: inline-block;
        }
    }
}

.btn {
    margin: 5px 0;
    padding: 10px 20px;
    display: inline-block;
    color: #eee;
    background: cornflowerblue;
    cursor: pointer;
    transition: 100ms ease-in-out;
    border: none;
    outline: none;
    font-size: inherit;
    line-height: inherit;
    user-select: none;

    &:hover {
        color: #fff;
        background: lighten(cornflowerblue, 2%);
    }

    &:active {
        background: darken(cornflowerblue, 2%);
    }

    &.btn-danger {
        background: crimson;

        &:hover {
            background: lighten(crimson, 2%);
        }

        &:active {
            background: darken(crimson, 2%);
        }
    }
}

.form {
    .form-label {
        margin: 5px 0;
        padding: 10px 0;
        display: inline-block;
        cursor: pointer;
    }

    .form-input {
        display: block;
        background: #fff;
        width: 100%;
        margin: 5px 0;
        padding: 10px;
        border: 1px solid #ddd;
        outline: none;

        &[disabled],
        &.disabled {
            background: #ddd;
        }
    }

    textarea.form-input {
        resize: vertical;
        min-height: 100px;
    }

    .form-group {
        display: flex;
        align-items: baseline;

        .form-label {
            text-align: right;
            width: 15%;
            padding-right: 10px;
        }

        .form-input {
            width: 70%;
            margin-right: 15%;
        }

        &.form-group-flip {
            .form-label {
                text-align: left;
                padding-right: 0;
                padding-left: 10px;
            }

            .form-input {
                margin-right: 0;
                margin-left: 15%;
            }
        }
    }

    .form-content {
        margin: 0 15%;
    }
}

.table {
    border-collapse: collapse;
    width: 100%;
    background: #fff;

    &.nobg {
        background: transparent;
    }

    th, td {
        padding: 10px 20px;
        border: 1px solid #bbb;
    }
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

// Tablet
@media only screen and (max-width: 1023px) {
    .body-wall {
        #pearl-wall {
            .wall-item {
                width: 100%;
                margin-left: 0;
                margin-right: 0;
            }
        }
    }

    .sidebar {
        width: 100px;

        .menu > a {
            font-size: 0;

            > i {
                font-size: 24px;
            }
        }
    }

    .main {
        margin-left: 100px;
    }
}

// Mobile
@media only screen and (max-width: 767px) {
    .toggle-sidebar {
        display: block;
        background: #222;
        color: #fff;
        height: 36px;
        line-height: 36px;
        padding: 0 20px;
        text-align: center;
        border-bottom: 1px solid #111;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
    }

    .main {
        margin-top: 36px;
        margin-left: 0;

        .content {
            padding: 20px;
        }
    }

    .sidebar {
        width: 100%;
        top: 36px;
        left: auto;
        right: 100%;
        transition: 200ms ease-in-out;
        z-index: 10;

        &.active {
            right: 0;
        }

        .menu > a {
            font-size: 24px;
            text-align: center;

            .fa {
                position: absolute;
                right: 20px;
            }
        }
    }

    .form {
        .form-group {
            margin: 0 15%;
            display: block;

            .form-label {
                width: auto;
            }

            .form-input {
                width: 100%;
                margin-right: 0;
            }
        }
    }
}
