<form id="chat" method="post" action="{{ base_url }}/chat" autocomplete="off">
    <div class="chat-header">Čats</div>
    <div class="chat-content">
        <div class="flex">
            <input type="text" name="name" class="input" placeholder="Vārds" maxlength="14" required>
            <button class="btn">&raquo;</button>
        </div>
        <textarea name="content" class="input" placeholder="Ziņa" maxlength="140" required disabled></textarea>
        <div class="messages">...</div>
    </div>
</form>
<script>new Chat('#chat')</script>
