<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta property="og:locale" content="lv_LV">
    <meta property="og:title" content="{{ config.get('title') }}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ base_url }}">
    <meta property="og:image" content="{{ base_url }}/screenshot.png">
    <meta property="og:description" content="Labāko un smieklīgako ierakstu apkopojums no spēļu, tomēr ne spēļu komūnas exs.">

    <link rel="apple-touch-icon" sizes="57x57" href="{{ base_url }}/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ base_url }}/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ base_url }}/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ base_url }}/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ base_url }}/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ base_url }}/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ base_url }}/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ base_url }}/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ base_url }}/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="{{ base_url }}/favicons/favicon-32x32.png" sizes="">
    <link rel="icon" type="image/png" href="{{ base_url }}/favicons/android-chrome-192x192.png" sizes="19">
    <link rel="icon" type="image/png" href="{{ base_url }}/favicons/favicon-96x96.png" sizes="">
    <link rel="icon" type="image/png" href="{{ base_url }}/favicons/favicon-16x16.png" sizes="">
    <link rel="manifest" href="{{ base_url }}/favicons/manifest.json">
    <link rel="mask-icon" href="{{ base_url }}/favicons/safari-pinned-tab.svg" color="#2">
    <meta name="msapplication-TileColor" content="#2780e3">
    <meta name="msapplication-TileImage" content="{{ base_url }}/favicons/mstile-144x144.png">
    <meta name="theme-color" content="#2780e3">

    <title>{{ config.get('title') }}</title>

    <link rel="stylesheet" href="{{ base_url }}/assets/css/normalize.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/style.css">

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery -->
    <script src="{{ base_url }}/assets/js/jquery.min.js"></script>

    <!-- Chat -->
    <script src="{{ base_url }}/assets/js/chat.js"></script>

    <!-- ExsOAuth -->
    <script src="https://exs-perles.lv/oauth/button.js"></script>

    <!-- EmojiOne -->
    <link rel="stylesheet" href="{{ base_url }}/assets/css/emojione.min.css">
    <script src="{{ base_url }}/assets/js/emojione.min.js"></script>
    <script>
        emojione.ascii = true;
        $(function() {
            $('.text-to-emoji').each(function() {
                $(this).html(
                    emojione.toImage(
                        $(this).html()
                    )
                );
            });
        });
    </script>

    <script>
        const BASE_URL = '{{ base_url }}';
    </script>
</head>
<body class="body-{{ block.controller.getFullAction() }}">
    <a href="#" class="hide toggle-sidebar" onclick="$('.sidebar').toggleClass('active')"><i class="fa fa-bars"></i></a>
    <div class="wrapper">
        <div class="sidebar">
            <div class="brand">
                <a href="{{ base_url }}">Exs Pērles</a>
            </div>

            {% include 'layout/header/menu.twig' %}

            <div class="sidebar-footer">
                by ArnoldsK since <span title="22.09.2014">2014</span>
            </div>
        </div>
        <div class="main">
            <div class="content">
                {% if session.get('message') %}
                    <div class="alert">
                        {{ session.get('message') | raw }}
                        <a class="close" href="javascript:void(0)" onclick="$(this).closest('.alert').hide()"><i class="fa fa-close"></i></a>
                    </div>
                {% endif %}
