<nav class="menu">
    <a {% if block.controller.getFullAction() == 'home-index' %}class="active"{% endif %} href="{{ base_url }}">
        Sākums <i class="fa fa-fw fa-home"></i>
    </a>
    <a {% if block.controller.getFullAction() == 'home-wall' %}class="active"{% endif %} href="{{ base_url }}/wall">
        Siena <i class="fa fa-fw fa-th-list"></i>
    </a>
    <a {% if block.controller.getFullAction() == 'posts-send' %}class="active"{% endif %} href="{{ base_url }}/send">
        Iesūtīt <i class="fa fa-fw fa-paper-plane"></i>
    </a>
    <a {% if block.controller.getFullAction() == 'posts-review' %}class="active"{% endif %} href="{{ base_url }}/review">
        {% set inactiveCount = posts.collection().where('active', 0).count() %}
        Iesūtītās{% if inactiveCount > 0 %} <small>({{ inactiveCount }})</small>{% endif %} <i class="fa fa-fw fa-paper-plane"></i>
    </a>
    <a {% if block.controller.getFullAction() == 'emails-index' %}class="active"{% endif %} href="{{ base_url }}/emails">
        E-Pasti <i class="fa fa-fw fa-at"></i>
    </a>
    {% if session.get('login') %}
        <a href="{{ base_url }}/logout">
            Iziet <small>({{ session.get('user').nick }})</small> <i class="fa fa-fw fa-user"></i>
        </a>
    {% endif %}
</nav>
