{% if postCollection.count() %}
    {% set counter = 0 %}
    {% for post in postCollection.get() %}
        {% if counter %}<hr>{% endif %}
        <div class="pearl">
            <a href="{{ base_url }}/review/accept/{{ post.id }}" class="btn">Pieņemt</a>
            <a href="{{ base_url }}/review/reject/{{ post.id }}" class="btn btn-danger pull-right">Noraidīt</a>
            <div class="details text-to-emoji">
                {{ post.description ? post.description | raw : 'Bez apraksta' }}
            </div>
            {% if post.user %}
                <div style="display: flex; justify-content: center; align-items: center; margin-top: 5px;">
                    Iesūtīja: <img src="{{ base_url}}/assets/images/avatars/{{ post.user.avatar }}" style="border-radius: 50%; width: 24px; margin: 0 5px;" alt> {{ post.user.nick }}
                </div>
            {% endif %}
            <div class="image">
                <a href="{{ post.url }}" target="_blank">
                    <img class="img-responsive" src="{{ helper.protocolRelativeUrl(post.url) }}" alt>
                </a>
            </div>
        </div>
        {% set counter = counter + 1 %}
    {% endfor %}
{% else %}
    <p>Nav iesūtītu bilžu.</p>
{% endif %}
