{% set maxFileSize = helper.getMaxUploadSize() / 1000000 %}

<form class="form" action="{{ base_url }}/sendPost" method="post" enctype="multipart/form-data" autocomplete="off">
    <div class="form-group">
        <label for="image" class="form-label">Bildes URL</label>
        <input id="image" type="url" class="form-input" name="image" autofocus>
    </div>

    <div class="form-content">
        <label for="upload" class="form-label">Vai arī augšupielādē <small class="text-muted">(Max {{ maxFileSize | round }}MB)</small></label>
        <br>
        <label class="btn btn-default">
            <input type="file" id="upload" name="upload" class="hide" accept="image/*">
            Augšupielādēt
        </label>
        <a href="javascript:void(0)" id="upload-cancel" class="btn btn-danger" style="display: none;">Atcelt augšupielādi</a>
    </div>

    <div class="form-group">
        <label for="description" class="form-label">Apraksts</label>
        <textarea id="description" class="form-input" name="description" placeholder="Ieraksta links ir obligāts" required></textarea>
    </div>

    <div class="form-group">
        <label for="user_id" class="form-label">Tavs exs ID</label>
        <input type="number" min="0" id="user_id" class="form-input" name="user_id" value="{% if session.get('user') %}{{ session.get('user').id }}{% endif %}">
    </div>

    <div class="form-content">
        <p id="description-preview"></p>
    </div>

    <script>
        $('#description').on('keyup change input',function(e) {
            var source = $(this).val().replace(/\n/g, '<br>');
            var preview = emojione.toImage(source);
            $('#description-preview').html(preview.length ? preview : '');
        });
    </script>

    {% if session.get('admin') %}
        <div class="form-content">
            <label class="form-label">
                <input type="checkbox" name="set_as_active"> izlaist apstiprināšanu
            </label>
        </div>
    {% endif %}

    <div class="form-content">
        <button type="submit" class="btn">Iesūtīt</button>
    </div>
</form>

<script>
    /**
     * Upload button plugin
     */
    var $imageInput = $('#image');
    var $uploadInput = $('#upload');
    var $uploadCancel = $('#upload-cancel');

    $uploadInput.on('change', function() {
        $imageInput.prop('disabled', true);
        $uploadInput.parent().hide();
        $uploadCancel.show();
    });

    $uploadCancel.on('click', function() {
        $imageInput.prop('disabled', false);
        $uploadInput.parent().show();
        $uploadCancel.hide();
        $uploadInput.val('');
    });
</script>
